API_PORT=8000

# DATABASE_HOST=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=dbname

# REDIS_HOST=redis
REDIS_HOST=localhost
REDIS_PORT=2003